# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea

# Node modules (if any)
node_modules
npm-debug.log